In [6]:
import psycopg2

try:
    # Conectar ao banco de dados
    conn = psycopg2.connect(
        dbname="ecommerce",
        user="postgres",
        password="postgres2",
        host="localhost",
        port="5432"
    )
    cur = conn.cursor()

    # Consulta e exibição dos dados da tabela Clientes
    print("=== Tabela Clientes ===")
    cur.execute("SELECT * FROM Clientes LIMIT 10")
    rows = cur.fetchall()
    for row in rows:
        print(row)

    # Consulta e exibição dos dados da tabela Pedidos
    print("\n=== Tabela Pedidos ===")
    cur.execute("SELECT * FROM Pedidos LIMIT 10")
    rows = cur.fetchall()
    for row in rows:
        print(row)

    # Consulta e exibição dos dados da tabela Itens_Pedido
    print("\n=== Tabela Itens_Pedido ===")
    cur.execute("SELECT * FROM Itens_Pedido LIMIT 10")
    rows = cur.fetchall()
    for row in rows:
        print(row)

    # Consulta e exibição dos dados da tabela Produtos
    print("\n=== Tabela Produtos ===")
    cur.execute("SELECT * FROM Produtos LIMIT 10")
    rows = cur.fetchall()
    for row in rows:
        print(row)

    # Consulta e exibição dos dados da tabela Pagamentos
    print("\n=== Tabela Pagamentos ===")
    cur.execute("SELECT * FROM Pagamentos LIMIT 10")
    rows = cur.fetchall()
    for row in rows:
        print(row)

except Exception as e:
    print(f"Falha ao conectar ao banco de dados ou consultar dados: {e}")

finally:
    # Fechar o cursor e a conexão
    cur.close()
    conn.close()
    print("\nConexão encerrada.")

=== Tabela Clientes ===
(30026, 'Kristina Lang', '30760 Pamela Squares\nPort Erica, OR 85870', '001-873-933-2405x53', 'burchdaisy@example.org', datetime.date(1977, 12, 20))
(30027, 'Travis Taylor', '3881 Douglas Bridge Suite 983\nCookshire, KY 23894', '+1-939-887-6993x566', 'garzaann@example.net', datetime.date(1979, 12, 26))
(30028, 'Melissa Perry', '70325 Mcbride Island Apt. 584\nGavinville, MN 70118', '(726)202-2816x5454', 'dawn19@example.net', datetime.date(1974, 6, 18))
(30029, 'Tina Parker', '89084 Craig Garden Apt. 667\nJacksonville, NY 65450', '+1-365-347-2069x228', 'simonduane@example.org', datetime.date(1981, 4, 24))
(30030, 'Jennifer Hill', '7174 Shaun Fords\nLake Katherinechester, WV 68237', '+1-841-882-9691', 'bautistajohn@example.net', datetime.date(1983, 3, 9))
(30031, 'Marcus Randolph', '660 Kristi Village\nLake Jasonland, CA 11376', '686.372.6935', 'gregoryjohnson@example.org', datetime.date(1982, 8, 27))
(30032, 'Francisco Potter', '1862 Burke Courts Apt. 932\nKimberlyville, FL 86360', '(820)849-3337x94019', 'seansutton@example.net', datetime.date(2005, 5, 8))
(30033, 'Tyler Martinez', '7007 Gomez Gardens Suite 649\nMillerville, MP 44866', '(995)659-7343x7530', 'thomas66@example.net', datetime.date(2004, 10, 14))
(30034, 'Jennifer Holmes', '6097 Brian Run\nLake Craigfort, MS 93023', '9097994819', 'jessica01@example.com', datetime.date(1936, 3, 11))
(30035, 'Lori Nelson', 'Unit 3029 Box 0486\nDPO AA 15902', '743-600-0060', 'reeseeric@example.org', datetime.date(1987, 8, 2))

=== Tabela Pedidos ===
(20384, datetime.datetime(2024, 4, 17, 10, 12, 29), 'Concluído', Decimal('3495.86'), 35674)
(20385, datetime.datetime(2023, 2, 14, 0, 26, 22), 'Concluído', Decimal('1060.44'), 33495)
(20386, datetime.datetime(2022, 8, 23, 23, 50), 'Concluído', Decimal('3855.92'), 33367)
(20387, datetime.datetime(2022, 12, 9, 4, 8, 44), 'Processando', Decimal('4160.80'), 31061)
(20388, datetime.datetime(2024, 6, 28, 10, 25, 34), 'Cancelado', Decimal('242.46'), 31641)
(20389, datetime.datetime(2023, 5, 24, 8, 7, 42), 'Processando', Decimal('4410.99'), 33713)
(20390, datetime.datetime(2022, 10, 2, 1, 21, 50), 'Pendente', Decimal('2055.10'), 33582)
(20391, datetime.datetime(2023, 6, 1, 21, 45, 28), 'Processando', Decimal('4982.61'), 36508)
(20392, datetime.datetime(2022, 11, 2, 4, 48, 57), 'Pendente', Decimal('2345.00'), 32384)
(20393, datetime.datetime(2023, 10, 7, 23, 7, 28), 'Cancelado', Decimal('2484.97'), 36122)

=== Tabela Itens_Pedido ===
(2, 14, Decimal('13.15'), Decimal('184.10'), 20384, 27440)
(3, 8, Decimal('160.38'), Decimal('1283.04'), 20384, 23443)
(4, 13, Decimal('112.29'), Decimal('1459.77'), 20385, 23934)
(5, 14, Decimal('167.37'), Decimal('2343.18'), 20385, 25996)
(6, 4, Decimal('70.54'), Decimal('282.16'), 20385, 27994)
(7, 11, Decimal('59.49'), Decimal('654.39'), 20386, 20377)
(8, 6, Decimal('46.55'), Decimal('279.30'), 20386, 20524)
(9, 12, Decimal('30.08'), Decimal('360.96'), 20386, 27815)
(10, 12, Decimal('147.89'), Decimal('1774.68'), 20386, 21202)
(11, 13, Decimal('148.14'), Decimal('1925.82'), 20386, 20293)

=== Tabela Produtos ===
(20013, 'Close', 'Several head western certain PM add operation. Really friend test write attorney form themselves.', Decimal('471.74'), 390)
(20033, 'Miss', 'Check want better popular wish yes understand easy. Sea deal writer realize.\nQuickly mission civil walk case skill down degree. Develop house ever try up.', Decimal('403.96'), 47)
(20049, 'Line', 'Practice professor something go beyond. Those day cold itself.\nMachine suffer go field television.', Decimal('64.23'), 645)
(20075, 'Firm', 'Year talk relationship career voice up event college. American learn reason minute choose arrive.\nEconomic much defense people about piece. I increase establish per me quickly art.', Decimal('195.02'), 421)
(20089, 'Whole', 'Population order step article technology expect. Company offer likely by off minute.', Decimal('720.59'), 343)
(20095, 'Less', 'Pick near together smile war campaign about. Behavior all deal media.\nYeah leader participant Congress prevent TV across. Simply agreement improve run. Art floor such dog offer senior.', Decimal('848.04'), 472)
(20098, 'Black', 'Role term during role hard while nature. Interesting student operation minute hair seek. Century cell training item know short blood. Catch show enjoy half training.', Decimal('986.85'), 122)
(20105, 'Central', 'Buy want outside positive.\nLose media enjoy song sometimes TV. Me that see camera number fine once. Once sense garden building never mouth.\nIndividual behavior agent floor short bed enjoy.', Decimal('472.64'), 497)
(20192, 'Fly', 'Allow until course rock. Threat reduce behavior wife machine need.', Decimal('265.03'), 686)
(20199, 'Purpose', 'Save carry trouble rather commercial paper. Machine south where activity friend hope power certain.\nKnow his father per understand. How teach industry teacher bad door.', Decimal('431.10'), 565)

=== Tabela Pagamentos ===
(1, datetime.datetime(2024, 5, 14, 10, 12, 29), Decimal('184.10'), 'Boleto', 20384)
(2, datetime.datetime(2024, 5, 1, 10, 12, 29), Decimal('1283.04'), 'Pix', 20384)
(3, datetime.datetime(2023, 2, 26, 0, 26, 22), Decimal('1459.77'), 'Pix', 20385)
(4, datetime.datetime(2023, 3, 6, 0, 26, 22), Decimal('2343.18'), 'Boleto', 20385)
(5, datetime.datetime(2023, 3, 9, 0, 26, 22), Decimal('282.16'), 'Pix', 20385)
(6, datetime.datetime(2022, 9, 10, 23, 50), Decimal('654.39'), 'Cartão de Crédito', 20386)
(7, datetime.datetime(2022, 8, 27, 23, 50), Decimal('279.30'), 'Pix', 20386)
(8, datetime.datetime(2022, 9, 5, 23, 50), Decimal('360.96'), 'PayPal', 20386)
(9, datetime.datetime(2022, 8, 27, 23, 50), Decimal('1774.68'), 'Pix', 20386)
(10, datetime.datetime(2022, 8, 24, 23, 50), Decimal('1925.82'), 'Cartão de Crédito', 20386)

Conexão encerrada.